body {
    background-image: url("islamic.jpg");
    background-size: 500px;
    font-family: Roboto,'Segoe UI',-apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(239, 228, 228);
    height: 100vh;
}
.container{
    background-color: rgb(15, 14, 14);
    max-width: 80%;
    margin: 50px auto;
    border: 3px solid white;
    border-radius: 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 10px;
}

#increment-btn {
    background: rgb(214, 84, 84);
}
#increment-btn:hover {
    background: rgb(208, 56, 56);
    font-size:large;
    cursor: pointer;
}

#save-btn {
    background: rgb(93, 148, 93);
}
#save-btn:hover {
    background: rgb(62, 114, 62);
    font-size:large;
    cursor: pointer;
}